@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
   font-family: "Rubik", sans-serif;
   font-weight: 400;
   font-style: normal;
    margin: 0;
}

.wave-container{
    background-color: #FBF9FA;
    padding-bottom: 0;
}
.wave-container1{
    background-color: #FBF9FA;
    padding-top: 0;
}

.bold{
    font-weight: bold;
}

/* navbar */

.navbar-toggler{
    margin-left: auto;
}
.navbar-brand img{
    width: 120px;
    height: 50px;
}
.navbar-toggler{
    border: none;
}

.navbar-toggler:focus {
    border: none;
}

.navbar a{
    color: #7A3015;
}
.navbar{
    background-color: #FBF9FA;
}

.navbar .profile{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #7A3015;
  margin-left: 20px;
}

.dropdown button{
  border: none !important;
  background-color: transparent !important;
}
.btn-theme{
    background-color: #7A3015;
    color: #fff !important;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    text-decoration: none;
}

/* navbar end */


/*section front */
.wave1{
    width: 100%;
    margin-bottom: -2px;
}
.front {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 80vh;
    background-color: #FBF9FA;
  }
  .front-text h4{
    color: #7A3015;
    margin-left: 1rem;
  }
  .front-text p{
    margin-left: 1rem;
  }
  .front-img img {
    width: 500px;
    height: 350px;
  }
  
.front-text img{
    width: 200px;
    height: 200px;
    
}
.appointment{
    background-color: #7A3015;
}
.front-text button{
    background-color:#7A3015;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 100px;
    z-index: 999;
    margin-left: 1rem;
}

.front-text button:hover{
    background-color: #BD3207;
    transition-duration: 400ms;
}

.vets-name{
    color:#7A3015;
    font-weight: bold;
}

.relative-container {
    position: relative;
    overflow: hidden; 
}

.paws{
    z-index: 1; 
}

.paws .foot1{
    position: absolute;
    right: 20%;
    top: 15vh;
}

.paws .foot2{
    position: absolute;
    left: 40%;
    top: 15vh;
}
.paws .foot3{
    position: absolute;
    left: 80%;
    bottom: 1vh;
}

/*section front end */

/*section services*/

.wave2{
    transform: rotate(180deg) scaleX(-1);
    margin-top: -5px;
    
}
.services {
    background-color: #FBF9FA;
    color: #7A3015;
    padding: 20px 0; 
}

.services h3 {
    padding: 0 6vw;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: start;
    font-size: 20px;
    margin-left: 1.8rem;
}

.slider-container {
    overflow: hidden; 
    position: relative;
    width: 100%;
    user-select: none;
}

.slider-wrapper {
    display: flex;
    overflow-x: auto; 
    scroll-behavior: smooth; 
    scroll-snap-type: x mandatory; 
    margin-left: 20px;
}

.slider-wrapper::-webkit-scrollbar {
    display: none; 
}

.slider-wrapper {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.service-card {
    margin: 10px 0;
    flex: 0 0 auto;
    max-width: 300px; 
    scroll-snap-align: start; 
    user-select: none;
}

.card {
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    position: relative;
}

.card-title {
    color: #7A3015;
    font-size: 16px;
    height: 2vh !important;
}



.card-header{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: transparent;
  border-bottom: 1px solid  #7A3015;
}

.card-text{
   margin: 0 !important;
   text-align: start;
   font-size: 14px;
}

.price{
    margin-bottom: 0;
    margin-top: 20px;
    justify-content: start;
}


.card-body i {
    font-size: 1.5rem;
    justify-content: center;
    display: grid;
    color: #7A3015;

}

.card-body p {
    display: flex;
    gap: 5px;
    color: #7A3015;
}

.card-body p i {
    display: grid;
    justify-content: start;
    font-size: 1rem;
    margin-top: 4px;
}

.discount-label {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #7A3015;
  color: white;
  font-size: 14px;
  font-weight: bold;
  clip-path: polygon(100% 0, 100% 100%, 0 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 80px;
  height: 80px;
  display: flex;

  z-index: 2;
}

.discount-label p{
  z-index: 3;
  color: #fff;
  position: relative;
  left: 40px;
  top: 10px;
  width: 50%;
}

@keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .card {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
  }
  
  .card.animate {
    opacity: 1;
    transform: translateY(0); 
  }
  
  .checkbox-container {
    margin-top: 20px;
    padding-left: 14vw;
  }
  .checkbox-container label {
    margin-right: 20px;
    font-size: 18px;
  }
  .service-card {
    display: none;
  }

/*Services End*/

/* Choose Us Section*/
  .choose-us{
    background-color: #FBF9FA;
 }

 .choose-us h3{
  padding: 0 6vw;
  font-weight: bold;
  text-align: start;
  font-size: 20px;
  margin-left: 1.8rem;
  color: #7A3015;
  font-size: 20px;

 }

 .choose-us .container{
  padding: 0 40px;
 }

  
.testimonial-card-custom {
  margin-bottom: 20px;
  background-color: #7A3015 !important;
  color: #fff;
  border: 2px solid #7A3015;
  transform: translateX(0);
  opacity: 0;
  transition: all 0.5s ease-out;
  border-radius: 10px;
  
}
.testimonial-card-custom img {
  border-radius: 50%;
  border: 2px solid #fff;
}

.testimonial-card-custom p{
  color: #fff;
  font-size: 14px;
}


.testimonial-title {
  font-weight: 500 !important;
  font-size: 20px;
  margin: auto;
  padding-left: 10px;
  color: #7A3015;
}
.testimonial-role {
  font-size: 0.9rem;
  color: #cccccc;
}
.testimonial-card-custom.show {
  opacity: 1;
}

.choose-us .review-box.show {
  opacity: 1;
}

.choose-us .review-box:nth-of-type(1),
.choose-us .review-box:nth-of-type(2) {
  transform: translateX(-100px); 
}

.choose-us .review-box:nth-of-type(3),
.choose-us .review-box:nth-of-type(4) {
  transform: translateX(100px); 
}

.choose-us .review-box.show:nth-of-type(1),
.choose-us .review-box.show:nth-of-type(2) {
  transform: translateX(0); 
}

.choose-us .review-box.show:nth-of-type(3),
.choose-us .review-box.show:nth-of-type(4) {
  transform: translateX(0);
}



/* Choose Us  End*/

/*section about-us*/
.about-us{
    background-color: #7A3015;
    color: #fff;
    display: flex;
    padding: 40px 10vw;
    align-items: center;
    justify-content: center;
}

.about-text{
  font-size: 16px;
}

.about-us img{
    width: 100%;
    height: 300px;
    border-radius: 5%;
}

.about-us h3{
   font-family: "Rubik", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-weight: bold;
   padding-bottom: 0;
    
}

.about-us button{
    background-color:#fff;
    color: #7A3015;
    border: none;
    padding: 8px 50px;
    border-radius: 100px;
    z-index: 999;

}

.about-us button:hover{
  background-color: #BD3207;
    transition-duration: 400ms;
    color: #fff;

}

.about{
    margin-top: 5%;
    display: flex;
}

/* About Us End /*







/* review Section */
.review{
    background-color: #FBF9FA;
    padding: 100px 0;
}

.review h2{
  font-size: 20px;
  font-weight: bold;
}
.review-section {
    background-color: #FBF9FA;
    color: #7A3015;
  }
  .review-form label {
    color: white;
  }
  .review-form .form-control {
    background-color: #fff;
    color: #7A3015;
    display: grid;
    margin: auto;
    border-radius: 5px;
    width: 80%;
  }
  .review-form .form-control::placeholder {
    color: #D3B6A0;
  }
  .review-form .submit {
    background-color: #7A3015;
    color: #fff;
    border: none;
    padding: 10px 100px !important;
    border-radius: 50px;
    margin-left: 1rem;
    display: grid;
    margin: auto;
    
  }
  .review-form .submit:hover {
    background-color: #BD3207;
    transition-duration: 400ms;
  }
  
  .submit{
    background-color: #7A3015;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 100px;
    z-index: 999;
    margin-left: 1rem;
    display: grid;
    margin: auto;
  }
  .review-form label {
    color: white;
  }
  .review-form .form-control {
    background-color: #fff;
    color: #7A3015;
    border-radius: 5px;
    border: 2px solid #7A3015;
  }
  .review-form .form-control::placeholder {
    color: #D3B6A0;
  }
  .review-form .btn {
    background-color: #fff;
    color: #7A3015;
    border: none;
    padding: 10px 100px;
    border-radius: 50px;
    margin-top: 20px;
  }
  .review-form .btn:hover {
    background-color: #f5ebeb;
    transition-duration: 400ms;
    color: #000;
  }

  
  /* review Section End */

 /* Footer Section */
.footer {
  background-color: #7A3015;
  color: #fff;
  padding: 20px 0;
  position: relative;
}
.footer h5 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: bold;
}
.footer ul {
  padding: 0;
  list-style: none;
}
.footer ul li {
  margin-bottom: 10px;
}
.footer ul li a {
  color: #fff;
  text-decoration: none;
}
.footer ul li a:hover {
  font-weight: bold;
}
.footer .fab {
  margin-right: 10px;
}
.footer .col-md-4 {
  margin-bottom: 20px;
}
.footer p {
  margin: 0;
}
/* Footer End */

/* Chat Bot Section */

#chat-bot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background-color: #73BD1E;
    border: transparent;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
#chat-bot-button i{
    margin: 0;
    padding: 16px 12px;
    font-size: 24px;
    color: #fff;
}


#chat-interface {
    position: fixed;
    bottom: 5px; 
    right: 20px;
    width: 30%;
    height: 60%;
    background-color: #fff;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
    #chat-interface {
        width: 80%;
        bottom: 5px;
        right: 5px;

        
    }
}

#chat-interface.hidden {
    opacity: 0;
    transform: translateY(100%);
    pointer-events: none; 
}

#chat-interface:not(.hidden) {
    opacity: 1;
    transform: translateY(0);
}

#chat-header {
    background-color: #7A3015;
    color: #fff;
    padding: 10px;
    padding-bottom: 0;
    justify-content: space-between;
    display: flex;
}

.chat-header p{
  display: grid;
  margin: auto;
}


#chat-header button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}



#chat-footer {
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
}

#chat-bot-button.hidden {
    display: none;
}

.admin-chat{
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 10px;
}




.admin p{
    justify-content: center;
    align-items: center;
    display: grid;
    margin: auto;
    color: #7A3015;
    margin-left: 5px;

}

.admin .text{
    background-color: #7A3015;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
    font-size: 13px;
    padding-left: 10px !important;
    width: 80%;
}


.admin img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.button-bot{
  padding: 0 10px;
}
.button-bot button{
  background-color: #7A3015;
  border: transparent;
  color: #fff;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
    
}

#chat-bot-button.hidden {
  display: none;
}

/*Chat Bot End*/

/*Notif Section*/

.dropdown-menu-center{
  width: 300px;
  overflow-y: auto;
  height: 70vh;
}

.dropdown-item p{
  margin: 0;
}


.alert {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}












